<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<link rel="stylesheet" href="../css/style.css">
	<title>Translate Thing</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="Translate App">
	<meta name="author" content="netlands">
	<meta name="Keywords" content="translation">

	<script src="/js/jquery.min.js"></script>

	<!-- Bootstrap -->
	<link href="/css/bootstrap.min.css" rel="stylesheet" />
	<link href="/css/mermaid.min.css" rel="stylesheet" />
	<link href="/css/bootstrap-select.min.css" rel="stylesheet" />	
</head>

<body>


	<!-- Navigation -->
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
		<div class="container">
			<script src="../js/script.js"></script>
			<a class="navbar-brand" href="#translate" data-toggle="collapse" data-target=".multi-collapse">Translate
				Thing</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
				aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarResponsive">
				<ul class="navbar-nav ml-auto">
					<!--li class="nav-item active">
						<a  data-toggle="collapse" href="#home" class="nav-link" href="/">Home
							<span class="sr-only">(current)</span>
						</a>
					</li-->
					<li class="nav-item">
						<a class="nav-link" data-toggle="collapse" data-target=".multi-collapse"
							href="#glossary">Glossary</a>

				</ul>
			</div>
		</div>
	</nav>

	<div class="row">
		<div class="col collapse multi-collapse container" id="glossary">
			<div class="glossary">
			</div>
			<div id="wrapper"></div>
			<input type="button" class="btn btn-secondary btn-block" value=" Update Table " onclick="updateTable('')">
			<!-- $('.gridjs-input').val() -->
			<button type="button" class="btn btn-secondary btn-block" data-toggle="modal" data-target="#myModal">Add New
				Term</button>
		</div> <!-- Container-->
	</div>

	<div class="col collapse multi-collapse show container justify-content-center pt-2 pb-5 form-group" id="home">
		<form class="translate" name="my_form">
			<div class="input-group pb-2">
				<label class="sr-only" for="titleAge">Age</label>
				<select class="selectpicker form-control" multiple id="titleAge"></select>
				<label class="sr-only" for="titleCategory">Category</label>
				<select class="selectpicker form-control" multiple id="titleCategory"></select>				
				<span class="input-group-addon"> </span>
				<label class="sr-only" for="titleType">Type</label>
				<select class="selectpicker form-control" multiple id="titleType"></select>
				<span class="input-group-addon"> </span>
				<label class="sr-only" for="titleColor">Colors</label>
				<select class="selectpicker form-control" multiple id="titleColor"></select>	
				<span class="input-group-addon"> </span>
				<label class="sr-only" for="titleMaterial">Materials</label>
				<select class="selectpicker form-control" multiple id="titleMaterial"></select>
				<span class="input-group-addon"> </span>
				<label class="sr-only" for="titlePattern">Patter/Design</label>				
				<select class="selectpicker form-control" multiple id="titlePattern"></select>														
			</div>
			<div><label class="sr-only" for="original">Original text</label><textarea data-gramm="false"
					name="en"
					id="original">type: fudangi (casual wear), hitoe&#13;&#10;material: silk, cotton&#13;&#10;color: red&#13;&#10;length: 120 cm (mitake)&#13;&#10;yuki: 60cm&#13;&#10;technique: shibori, tie-dye, bokashi</textarea>
			</div>
			<div class="pt-2 pb-2"><input type="button" class="btn btn-secondary btn-block" value=" Translate " id="HButton"
					onclick="">
			</div>
			<div class="input-group pt-2">
				<label class="sr-only" for="titleTranslated">Title</label>
				<input type="text" class="form-control" id="titleTranslated" />
			</div>			
			<div class="pt-2"><label class="sr-only" for="translation">Translated text</label><textarea
					data-gramm="false" name="en" id="translation"><%= result_from_database %></textarea>
			</div>
			<div class="pt-2"><input type="button" class="btn btn-secondary btn-block" value=" Reset " id="CButton"
					onclick="document.getElementById('translation').innerHTML = ''"></div>

			<!-- Button trigger modal -->
			<div class="pt-2"><button type="button" class="btn btn-secondary btn-block" data-toggle="modal"
					data-target="#myModal">Add New Term</button></div>
		</form>


	</div> <!-- Container-->

	<!-- Modal -->
	<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
		<div class="modal-dialog .modal-lg" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title" id="myModalLabel">Add New Term</h4>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
							aria-hidden="true">&times;</span></button>

				</div>
				<div class="modal-body">
					<form id="addTerm">
						<div class="form-group">
							<label class="sr-only" for="en">English</label>
							<input type="text" class="form-control" id="en" placeholder="English" required>
						</div>
						<div class="form-group">
							<label class="sr-only" for="ja">Japanese</label>
							<input type="text" class="form-control" id="ja" placeholder="日本語" required>
						</div>
						<div class="form-group">
							<label class="sr-only" for="furigana">Furigana</label>
							<input type="text" class="form-control" id="furigana" placeholder="ふりがな" required>
						</div>
						<div class="form-group">
							<label class="sr-only" for="romaji">Romaji</label>
							<input type="text" class="form-control" id="romaji" placeholder="romaji">
						</div>
						<div class="form-group">
							<label class="sr-only" for="ja2">Alternative Japanese</label>
							<input type="text" class="form-control" id="ja2" placeholder="Alternative 日本語 (optional)">
						</div>
						<div class="form-group">
							<label class="sr-only" for="en2">Alternative English</label>
							<input type="text" class="form-control" id="en2"
								placeholder="Alternative English (optional)">
						</div>
						<div class="form-group">
							<label class="sr-only" for="context">Context</label>
							<input type="text" class="form-control" id="context" placeholder="Context (optional)">
						</div>
						<div class="form-group">
							<label class="sr-only" for="type">Type</label>
							<select class="form-control" id="type">
								<option selected disabled>Select a type</option>
								<option>technique</option>
								<option>category</option>
								<option>property</option>
								<option>material</option>
								<option>pattern</option>
								<option>type</option>
								<option>part</option>
							</select>
						</div>
						<div class="form-group">
							<label class="sr-only" for="note">Note</label>
							<input type="text" class="form-control" id="note" placeholder="Note (optional)">
						</div>
					</form>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					<button type="button" class="btn btn-primary" id="TButton">Add Term</button>
				</div>
			</div>
		</div>
	</div>



	<!-- Bootstrap core JavaScript -->
	<!-- script src="/js/jquery.min.js"></script-->
	<script src="/js/bootstrap.bundle.min.js"></script>
	<script src="/js/gridjs.umd.js"></script>
	<script src="/js/bootstrap-select.min.js"></script>	

</body>

</html>